.slick-prev,
.slick-next {
  z-index: 1;
  width: 50px;
  height: 50px;
}

.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -50px !important;
}

.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

#cat-card {
  margin: 5px !important;
  border-radius: 20px !important;
  height: 300px !important;
  cursor: pointer !important;
  transition: transform 0.2s;
}

#cat-card:hover {
  transform: scale(1.02);
}

#cat-img {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cartContainer {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10;
  width: 50px;
  cursor: pointer;
}

.cartIcon {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cartQty {
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  z-index: 9;
  top: -7px;
  left: 32px;
  width: 15px;
}
