.slick-prev,
.slick-next {
  z-index: 1;
  width: 50px;
  height: 50px;
}

.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -50px !important;
}

.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

#cat-card {
  margin: 5px !important;
  border-radius: 20px !important;
  height: 300px !important;
  cursor: pointer !important;
  transition: transform 0.2s;
}

#cat-card:hover {
  transform: scale(1.02);
}

#cat-img {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
